:root {
  --bg-color: rgb(10, 10, 10);
  --dot-color: rgb(0, 0, 0);

  --dot-size: 2px;
  --dot-space: 4px;
}

.bg-pattern {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;

  background: linear-gradient(
        90deg,
        var(--bg-color) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center,
    linear-gradient(
        var(--bg-color) calc(var(--dot-space) - var(--dot-size)),
        transparent 1%
      )
      center,
    var(--dot-color);
  background-size: var(--dot-space) var(--dot-space);
}
