:root {
  /* Portrait glow animation colors */
  --first-color: #f0f;
  --second-color: #fff;
  --third-color: #0ff;

  --color-page-bg: rgb(41, 42, 43);

  --color-font-light: rgb(232, 235, 226);
  --color-font-dark: #000;
  --color-accent: rgb(64, 185, 233);
  --color-accent: rgb(18, 216, 199);

  --project-padding: clamp(4rem, 20vw, 10rem);
}
