/* ABOUT */
.about {
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-photo {
  width: clamp(6rem, 30vw, 10rem);
  height: clamp(6rem, 30vw, 10rem);
  background: rgb(48, 48, 48);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  user-select: none;

  /* Glowing neon lights */
  animation: rotateHue 6s infinite;

  /* Vignette */
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.7);
    border-radius: 50%;
    z-index: 1;
  }
  /* Blue haze on photo */
  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    mix-blend-mode: color-dodge;
    background: $color-accent;
    opacity: 0.05;
  }

  img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    object-fit: cover;
  }
}
.about-text {
  padding-left: 5rem;
  max-width: 30rem;
}
.about-text-hello {
  height: auto;
  width: clamp(5rem, 16vw, 7rem);
  display: block;
  user-select: none;
}
.about-text-name {
  font-size: clamp(24px, 5vw, 40px);
  font-weight: bold;
  span {
    color: $color-accent;
  }
}
.about-text-who-i-am {
  margin: 1.5rem 0 1rem;
}
.about-text-resume {
  margin-top: 1rem;
  font-size: 90%;
  .about-text-resume-link {
    color: $color-accent;
    display: inline-block;
    text-decoration: underline;
    &:hover {
      color: $color-font-light;
    }
  }
}

@media screen and (max-width: 930px) {
  .about {
    flex-direction: column;
    padding: 7rem 0 3rem;
  }
  .about-photo {
    display: block;
  }
  .about-text {
    margin-top: 3rem;
    padding: 0;
  }
}
