/* CONTACT */
.contact-content {
  width: fit-content;
  margin: 0 auto;
}
.contact-lets-chat {
  margin: 2rem 0;
  font-size: 30px;
}
.contact-line {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  .contact-line-icon {
    fill: $color-font-light;
    height: 1.5rem;
    width: 1.5rem;
    margin-right: 0.6rem;
    stroke: none;
  }
  .contact-line-link {
    display: inline-block;
    color: $color-accent;
    text-decoration: underline;
    &:hover {
      color: $color-font-light;
    }
  }
}
