/* EXPERIENCE */
.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.experience-item {
  width: 370px;
  margin: 0 auto;
  h3 {
    margin: 0 0 1rem;
  }
  ul {
    list-style-image: url('../assets/check.png');
    list-style-position: inside;
  }
  li {
    line-height: 2;
  }
  small {
    color: $color-accent;
  }
  p {
    font-style: italic;
  }
  &:not(:last-of-type) {
    margin-bottom: 3rem;
  }
}
@media screen and (max-width: 475px) {
  .experience-item {
    width: 100%;
  }
}
@media screen and (max-width: 420px) {
  .experience-item {
    small {
      display: block;
      padding-left: 2rem;
    }
  }
}
