$header-height: 3.5rem;
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 10;
  width: 100%;
  padding: 0 2rem;
  height: $header-height;
  background: $color-header-bg;
}
.header-name {
  flex: 1;
  font-size: 18px;
  text-transform: uppercase;
  span {
    opacity: 0.5;
    font-weight: normal;
    font-size: 12px;
    line-height: 1;
  }
}
.nav-list {
  display: flex;
}
.nav-item {
  list-style-type: none;
  &:not(:last-of-type) {
    margin-right: 2rem;
  }
}
.nav-item-link {
  padding: 0.5rem 1rem;
  transition: background $transition-speed, color $transition-speed;
  font-weight: bold;
  text-transform: uppercase;
  &:hover {
    background: $color-font-light;
    color: $color-font-dark;
  }
}
.nav-icon {
  display: none;
}
@media screen and (max-width: 1200px) {
  .nav-icon {
    display: block;
  }
  $nav-list-border: $color-accent-low;
  .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    right: -100%;
    height: calc(100% - $header-height);

    top: $header-height;
    transition: right $transition-speed, border-left $transition-speed;

    background: $color-menu-bg;
    background-image: radial-gradient($color-menu-bg 0.65px, #000000 0.65px);
    background-size: 13px 13px;
    border-left: 90vw solid $nav-list-border;
  }
  $cyan: rgba(0, 255, 255, 0.3);
  $red: rgba(255, 0, 0, 0.3);
  .nav-item {
    font-size: clamp(2rem, 10vw, 5rem);
    text-shadow: 40px 0px 0px $cyan, 20px 0px 0px $red;
    transition: text-shadow 500ms, opacity 600ms, transform 300ms;
    opacity: 0;
    transform: translateX(100px);
    &:not(:last-of-type) {
      margin: 0 0 7vh;
    }

    &:nth-of-type(1),
    &:nth-of-type(2),
    &:nth-of-type(3),
    &:nth-of-type(4) {
      transition-delay: 0ms;
    }
  }
  .nav-open {
    .nav-list {
      right: 0;
      border-left: 0vw solid $nav-list-border;
      &::after {
        right: 0;
      }
    }
    .nav-item {
      text-shadow: 1px 0px 0px $cyan, -1px 0px 0px $red;
      opacity: 1;
      transform: translateX(0px);
      &:nth-of-type(1) {
        transition-delay: 70ms;
      }
      &:nth-of-type(2) {
        transition-delay: 140ms;
      }
      &:nth-of-type(3) {
        transition-delay: 210ms;
      }
      &:nth-of-type(4) {
        transition-delay: 280ms;
      }
    }
  }
}

$color: #fff;
$active: #fff;
.nav-icon {
  cursor: pointer;
  input {
    display: none;
    & + div {
      width: 20px;
      height: 14px;
      position: relative;
      div {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        transition: transform 0.5s ease;
        span {
          display: block;
          position: absolute;
          left: 0;
          right: 0;
          &:first-child {
            top: 0;
            &:before,
            &:after {
              top: 0;
            }
          }
          &:last-child {
            bottom: 0;
            &:before,
            &:after {
              bottom: 0;
            }
          }
          &:before,
          &:after {
            content: '';
            display: block;
            width: 47%;
            height: 2px;
            border-radius: 1px;
            background: $color;
            position: absolute;
            backface-visibility: hidden;
            -webkit-backface-visibility: hidden;
            transition: transform 0.5s ease, border-radius 0.3s ease,
              background 0.4s ease;
          }
          &:before {
            left: 0;
            transform-origin: 0 50%;
            transform: translate(1px, 0) scaleX(1.1);
          }
          &:after {
            right: 0;
            transform-origin: 100% 50%;
            transform: translate(-1px, 0) scaleX(1.1);
          }
        }
      }
      svg {
        display: block;
        fill: none;
        stroke: $color;
        stroke-width: 2px;
        width: 44px;
        height: 44px;
        stroke-linecap: round;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -22px 0 0 -22px;
        stroke-dasharray: 0 82.801 8 82.801;
        stroke-dashoffset: 82.801;
        transform-origin: 50% 50%;
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;
        transform: scale(1);
        transition: stroke-dashoffset 0.5s ease, stroke-dasharray 0.6s ease,
          transform 0.5s ease, stroke 0.4s ease;
        &:nth-child(3) {
          transform: rotate(180deg) scale(1);
        }
      }
    }
    &:checked + div {
      div {
        transform: rotate(90deg);
        span {
          &:before,
          &:after {
            background: $active;
          }
          &:first-child {
            &:before {
              transform: rotate(45deg) translate(2.2px, -3px) scaleX(1.05);
            }
            &:after {
              transform: rotate(-45deg) translate(-2.2px, -3px) scaleX(1.05);
            }
          }
          &:last-child {
            &:before {
              transform: rotate(-45deg) translate(2.2px, 3px) scaleX(1.05);
            }
            &:after {
              transform: rotate(45deg) translate(-2.2px, 3px) scaleX(1.05);
            }
          }
        }
      }
      svg {
        stroke-dashoffset: 62;
        stroke-dasharray: 0 82.801 62 82.801;
        transform: rotate(90deg);
        stroke: $active;
        &:nth-child(3) {
          transform: rotate(270deg);
        }
      }
    }
  }
}
