/* INTRO */
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 95vh;
}
.intro-photo {
  width: 10rem;
  height: 10rem;
  background: rgb(48, 48, 48);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  user-select: none;

  /* Glowing neon lights */
  animation: rotateHue 6s infinite;
}
/* Vignette */
.intro-photo::before {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  z-index: 1;
}
/* Blue haze on photo */
.intro-photo::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: '';
  mix-blend-mode: color-dodge;
  background: rgb(53, 225, 255);
  opacity: 0.05;
}
.intro-photo img {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
}
.intro-text {
  padding-left: 5rem;
  max-width: 30rem;
}
.intro-text-hello {
  height: auto;
  width: clamp(5rem, 16vw, 7rem);
  display: block;
  user-select: none;
}
.intro-text-name {
  font-size: clamp(28px, 5vw, 40px);
  font-weight: bold;
}
.intro-text-name span {
  color: $color-accent;
}
.intro-text-who-i-am {
  margin: 1.5rem 0 1rem;
}

@media screen and (max-width: 930px) {
  .intro {
    flex-direction: column;
  }
  .intro-photo {
    display: block;
  }
  .intro-text {
    margin-top: 3rem;
    padding: 0;
  }
}
