@import 'normalize.scss';

@import 'variables.scss';

@import 'typography.scss';
@import 'animations.scss';

@import 'bg-noise.scss';
@import 'bg-pattern.scss';
@import 'bg-vignette.scss';

@import 'header.scss';
@import 'intro.scss';
@import 'experience.scss';
@import 'projects.scss';
@import 'contact.scss';

.section {
  position: relative;
  padding-left: 2rem;
  padding-right: 2rem;
  &:not(:first-of-type) {
    padding-top: 7rem;
    padding-bottom: 4rem;
    background: linear-gradient(rgb(43 43 44 / 32%), rgba(47, 42, 63, 0));
    clip-path: polygon(0 100%, 0 0, 50% 3rem, 100% 0, 100% 100%);
  }
}
