/* PROJECTS */
.project {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: $project-padding;

  /* Project "|" separator decoration */
  position: relative;
  &:not(:last-of-type):after {
    position: absolute;
    content: '';
    width: 1px;
    height: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc($project-padding * -1 / 2 - 0.75rem);
    background: $color-font-light;
    opacity: 0.5;
  }
}

.project-images {
  position: relative;
}

.project-image {
  border-radius: 15px;
  overflow: hidden;
  border: 4px solid #000;
  img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
  }

  /* Desktop ratio: 1.6:1 */
  $desktop-width: 400px;
  $desktop-height: 250px;
  /* Mobile ratio: 1:2 */
  $mobile-width: 100px;
  $mobile-height: 200px;

  &--desktop {
    width: clamp(calc($desktop-width / 2), 56vw, $desktop-width);
    height: clamp(calc($desktop-height / 2), 35vw, $desktop-height);
  }
  &--mobile {
    position: absolute;
    right: 0;
    bottom: 1rem;
    width: clamp(calc($mobile-width / 2), 14vw, $mobile-width);
    height: clamp(calc($mobile-height / 2), 28vw, $mobile-height);
    filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.623));
    &::after {
      /* Phone "notch" */
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 30%;
      height: 0.2rem;
      background: black;
      content: '';
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}

.project-images-reflection {
  position: absolute;
  bottom: -152%;
  left: 0;
  transform: scaleY(-0.5);
  transform-origin: top;
  opacity: 0.06;
}
.project-images-real,
.project-images-reflection {
  padding-right: 2.5rem; // So mobile img as right:0 hangs off edge
}

/* Project text */
.project-description {
  display: inline-block;
  width: 600px;
  padding-left: 2rem;
  & > * + * {
    margin-top: 1rem;
  }
  .project-name {
    font-size: clamp(20px, 4vw, 24px);
  }
  span {
    color: $color-accent;
  }
  p:before {
    content: '+';
    font-size: 20px;
    transform: rotate(25deg);
    color: $color-accent;
  }
  .project-links {
    a {
      border: 1px solid $color-font-light;
      padding: 0.5rem 1rem;
      display: inline-block;
      &:first-of-type {
        margin-right: 1rem;
      }
      &:hover {
        background: $color-font-light;
        color: $color-font-dark;
      }
    }
  }
}
@media screen and (max-width: 1225px) {
  .project {
    flex-direction: column;
    align-items: center;
  }
  .project-images {
    margin-bottom: 2rem;
  }
  .project-images-reflection {
    z-index: -1;
    opacity: 0.03;
  }
  .project-description {
    width: 100%;
    max-width: 600px;
    padding: 0;
  }
}
