header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  width: 100%;
  ul {
    display: flex;
  }
  li {
    list-style-type: none;
    &:not(:last-of-type) {
      margin-right: 2rem;
    }
  }
}
