@import 'bg-noise.css';
@import 'bg-pattern.css';
@import 'bg-vignette.css';
@import 'animations.css';

* {
  margin: 0;
  padding: 0;
}
*::selection {
  color: rgb(0, 0, 0);
  background: rgb(255, 251, 29);
}
:root {
  --first-color: #f0f;
  --second-color: #fff;
  --third-color: #0ff;

  --page-bg: rgb(41, 42, 43);
  --text-color: rgb(232, 235, 226);
  --text-color-medium: rgb(64, 185, 233);
  --text-color-medium: rgb(64, 233, 225);

  --project-padding: 10vw;
}
a {
  text-decoration: none;
  color: inherit;
}
p {
  line-height: 1.5;
}
html {
  font-size: 18px;
  font-family: Monospace, Arial, Helvetica, sans-serif;
  background: var(--page-bg);
  color: var(--text-color);
}

strong {
  background: #fff;
  padding: 0 0.25rem;
  color: #000;
  font-weight: 900;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 2;
  width: 100%;
}
header {
  ul {
    display: flex;
  }
  li {
    list-style-type: none;
    &:not(:last-of-type) {
      margin-right: 2rem;
    }
  }
}
.section {
  position: relative;
  &:not(:first-of-type) {
    padding: 7rem 0 4rem;
    background: linear-gradient(rgb(43 43 44 / 32%), rgba(47, 42, 63, 0));
    clip-path: polygon(0 100%, 0 0, 50% 3rem, 100% 0, 100% 100%);
  }
  &:not(:last-of-type):after {
    position: absolute;
    content: '';
    /* width: 3rem; */
    height: 1px;
    left: 50%;
    bottom: -1.5rem;
    background: var(--text-color);
  }
  h2 {
    text-align: center;
    margin-bottom: 3rem;
    padding: 0 0.1rem;
    &:before,
    &:after {
      color: var(--text-color-medium);
      opacity: 0.5;
    }
    &:before {
      content: '<';
    }
    &:after {
      content: '>';
    }
  }
  h3 {
    background: var(--text-color);
    display: inline-block;
    color: #000; /* TODO use --font-dark*/
    padding: 0 0.5rem;
    font-size: 24px;
  }
}
/* INTRO */
.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 95vh;
}
.intro-photo {
  width: 10vw;
  height: 10vw;
  background: rgb(48, 48, 48);
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  animation: rotateHue 6s infinite;
  &.intro-photo::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.603);
    border-radius: 50%;
    z-index: 1;
  }
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    user-select: none;
  }
}
.intro-text {
  padding-left: 5rem;
  max-width: 30rem;
}
.intro-text-hello {
  height: auto;
  width: 15vw;
  display: block;
  user-select: none;
}
.intro-text-name {
  font-size: 40px;
  font-weight: bold;
  span {
    color: var(--text-color-medium);
  }
}
.intro-text-who-i-am {
  margin: 1.5rem 0 0.75rem;
}

/* EXPERIENCE */
.experience {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.experience-item {
  width: 370px;
  margin: 0 auto;
  &:not(:last-of-type) {
    margin-bottom: 3rem;
  }
  ul {
    list-style-image: url('../assets/check.png');
    list-style-position: inside;
  }
  li {
    line-height: 2;
  }
  small {
    color: var(--text-color-medium);
  }
  p {
    font-style: italic;
  }
  h3 {
    margin: 0 0 1rem;
  }
}

/* PROJECTS */
.project {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  margin-bottom: var(--project-padding);
  position: relative;
  &:not(:last-of-type):after {
    position: absolute;
    content: '';
    width: 1px;
    height: 1rem;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc(var(--project-padding) * -1 / 2);
    background: var(--text-color);
    opacity: 0.5;
  }
}
.project-images {
  position: relative;
}
.project-images-tooltip {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px;
  background: rgba(0, 0, 0, 0.904);
  padding: 1rem 2rem;
  opacity: 0;
  transition: opacity 0.3s;
  cursor: pointer;
  &:hover {
    opacity: 1;
  }
}
.project-image-real {
  cursor: pointer;
  &:hover ~ .project-images-tooltip {
    opacity: 1;
  }
}
.project-image {
  display: inline-block;
  border-radius: 15px;
  overflow: hidden;
  border: 4px solid black;
  img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
  }
  &.project-image--desktop {
    width: 400px;
    height: 250px;
  }
  &.project-image--mobile {
    transform: translate(-3rem, -1rem);
    height: 200px;
    width: auto;
    filter: drop-shadow(0px 5px 3px rgba(0, 0, 0, 0.623));
    position: relative;
    &::after {
      /* Phone "notch" */
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 30%;
      height: 0.2rem;
      background: black;
      content: '';
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
    }
  }
}
.project-image-reflection {
  position: absolute;
  bottom: -138%;
  left: 0;
  transform: scaleY(-0.4);
  transform-origin: top;
  opacity: 0.06;
}
.project-description {
  display: inline-block;
  width: 600px;
  & > * + * {
    margin-top: 1rem;
  }
  span {
    color: var(--text-color-medium);
  }
  p:before {
    content: '+';
    font-size: 20px;
    transform: rotate(25deg);
    color: var(--text-color-medium);
  }
  a {
    border: 1px solid var(--text-color);
    padding: 0.5rem 1rem;
    display: inline-block;
    &:first-of-type {
      margin-right: 1rem;
    }
    &:hover {
      background: var(--text-color);
      color: #000; /* TODO use -text-color-dark*/
    }
  }
}
/* CONTACT */
.contact-content {
  width: fit-content;
  margin: 0 auto;
}
.contact-lets-chat {
  margin: 2rem 0;
  font-size: 30px;
}
.contact-line {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  &:hover {
    color: var(--text-color);
  }
  a {
    display: inline-block;
    color: var(--text-color-medium);
    text-decoration: underline;
  }
}
.contact-icon {
  fill: var(--text-color);
  height: 1.5rem;
  width: 1.5rem;
  margin-right: 0.6rem;
  stroke: none;
}
.section.contact {
  padding-bottom: 10rem;
}
